# Collaborative-Based Filtering

### Load the data

In [1]:
import pandas as pd
ratings = pd.read_csv('data/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

### Create the dataset

In [ ]:
from surprise